<a href="https://colab.research.google.com/github/DiegoRodrigues1402/Notebooks_Colab/blob/main/tabela_moveis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Programa para visualizar quantidades de vagas disponivel por data

In [1]:
import pandas as pd

In [2]:
dt_data = pd.read_json('/content/drive/MyDrive/curso panda agrupamento/moveis_disponiveis.json')

In [3]:
dt_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               365000 non-null  int64
 1   data             365000 non-null  object
 2   vaga_disponivel  365000 non-null  bool
 3   preco            270547 non-null  object
dtypes: bool(1), int64(1), object(2)
memory usage: 11.5+ MB

In [4]:
dt_data['data'] = pd.to_datetime(dt_data['data'])

In [5]:
dt_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 365000 entries, 0 to 364999
Data columns (total 4 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   id               365000 non-null  int64
 1   data             365000 non-null  datetime64[ns]
 2   vaga_disponivel  365000 non-null  bool
 3   preco            270547 non-null  object
dtypes: bool(1), datetime64[ns](1), int64(1), object(1)
memory usage: 11.5+ MB

In [16]:
dt_data['data']= dt_data['data'].dt.strftime(' %Y/%m')

In [18]:
tot_vaga = dt_data.groupby(dt_data['data'])['vaga_disponivel'].sum()

In [19]:
tot_vaga

data
 2016/01    16543
 2016/02    20128
 2016/03    23357
 2016/04    22597
 2016/05    23842
 2016/06    23651
 2016/07    22329
 2016/08    22529
 2016/09    22471
 2016/10    23765
 2016/11    23352
 2016/12    24409
 2017/01     1574
Name: vaga_disponivel, dtype: int64